<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Servidor de Arquivos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Arquivos</h1>

    <div class="breadcrumbs">
        <a href="/files">🏠 Raiz</a>
        {% for crumb in breadcrumbs %}
        <a href="/files/{{ '/'.join(breadcrumbs[:loop.index]) }}">{{ crumb }}</a>
        {% endfor %}
    </div>

    <ul class="file-card">
        {% for item in items %}
        <li>
            <a href="{{ '/files/' if item.is_dir else '/file/' }}{{ subpath + '/' if subpath else '' }}{{ item.name }}">
                <img src="{{ url_for('static', filename='icons/' + item.icon) }}" class="icon">
                {{ item.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>